<div class="modal-body row grid-container">
    <div class="col-sm-4" id="left-side">
        <p id="descr">
            This is a tool for calculating annual payouts for a certain option based on the energy markets 
            of New South Wales, Australia. Please enter the earliest year, the temperature trigger and the strike price 
            to see the payouts.
        </p>
    
        <form #siteform = "ngForm">
            <div class="num-container">
                <label for="var-a">Start from (year): </label>
                <input type="number" class="num" name="earliest_year" value="2000" [(ngModel)]="earliest_year"><br><br>
            </div>
            <div class="num-container">
                <label for="var-b">Temperature trigger (°C): </label>
                <input type="number" class="num" name="temp_trigger" id="var-b-field" [(ngModel)]="temp_trigger"><br><br>
            </div>
            <div class="num-container">
                <label for="var-b">Strike price (A$): </label>
                <input type="number" class="num" name="strike" id="var-c-field" [(ngModel)]="strike"><br><br>
            </div>
            <input type="submit" value="Calculate" (click)="computeFunction()">
            <input type="submit" value="Reset" (click)="resetValues()">
        </form>
    </div>
    <div class="col-sm-8" id="right-side">

        <p *ngIf="emptyFormWarning">Please fill all three fields!</p>    
        <p *ngIf="dbErrorMessage">Problem accessing the database!</p>    
        <p *ngIf="pendingMessage == true">Loading data. This usually takes a few seconds...
            <img src="assets/windmill_icon.gif" width="200px" alt="Loading" title="Icon from Tumblr, author Nico (nilgi25)">
        </p>

        <table *ngIf="currentAnswer != null" class="table table-hover table-bordered table-striped"  id="output-payout">
            <thead>
                <tr>
                <th scope="col" id="year-col">Year</th>
                <th scope="col" id="payout-col">Payout (A$)</th>
                </tr>
            </thead>
            <tbody>
                <ng-container>
                <tr *ngFor="let record of currentAnswer">
                    <td> {{record.year}} </td>
                    <td> {{record.payout | number:'1.2-2':'en-AU' }} </td>
                </tr>
                </ng-container>

            </tbody>
        </table>

        <div *ngIf="currentAnswer != null" class="chart-box">
            <app-chart [payoutListStr]="currentAnswerStr"></app-chart>
        </div>

    </div>
</div>
