/* Body */

body {
    margin: 0px;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Left and right sides */

@media (max-width: 768px) {
    #left-side {
        margin-bottom: 40px;
    }
}


