div.chart-container {
    position: relative;
    width: 75%;
}

div.chart-box {
    margin-top: 60px;
}

@media (max-width: 640px) {
    div.chart-container {
        width: 480px;
    }
}

div #myChart {
    display: inline-block;
    position: relative;
}

/* @media (min-width: 481px) {
    div #myChartMini {
        display: none !important;
    }

    div #myChart {
        display: inline-block;
        position: relative;
    }
}

@media (max-width: 480px) {
    div #myChart {
        display: none !important;
    }

    div #myChartMini {
        display: inline-block;
        position: relative;
    }

}
 */
