div.chart-container {
    position: relative;
    width: 75%;
    min-height: 400px;
}

div.chart-box {
    margin-top: 60px;
}

@media (max-width: 640px) {
    div.chart-container {
        width: 480px;
    }
}

div #myChart {
    display: inline-block;
    position: relative;
}