/* Text blocks */
p#tool-description {
    width: 77%;
    margin-bottom: 35px;
    font-size: 15px;
    padding: 12px;
    box-sizing: border-box;
}

p#futures-description {
    width: 77%;
    margin-top: 35px;
    font-size: 15px;
    padding: 12px;
    box-sizing: border-box;
}

/* Entire input form */
div#main-form {
    margin-top: 35px;
    margin-bottom: 35px;
    box-sizing: border-box;
}

/* Individual blocks containing a prompt + an input field */
div.form-group {
    width: 210px;
    box-sizing: border-box;
}

/* Individual input fields */
form input {
    margin: 10px;
    box-sizing: border-box;
}

/* Message when year input is invalid */
div.alert-danger {
    width: 27%;
    padding: 5px;
    font-size: 11px;
    font-weight: bolder;
    box-sizing: border-box;
}

/* Buttons */
.btn-primary {
    margin: 10px;
}

/* Futures buttons */
.btn-futures {
    width: 24%;
}

/* Mobile version for futures buttons */
@media (max-width: 768px) {
    .lg-view {
        display: none;
    }

    .sm-view {
        display: inline-block;
    }
}

@media (min-width: 769px) {
    .lg-view {
        display: inline-block;
    }

    .sm-view {
        display: none;
    }
}

/* Messages about reading/updating the futures price */
p#price-message {
    width: 77%;
    margin-bottom: 35px;
    font-size: 15px;
    padding: 12px;
    box-sizing: border-box;
}

