nav.navbar {
    background-color: #95c1fb;
    text-align: left;
    border-bottom:1px solid #000;
    width: 100vw;
    margin: 0px;
    box-sizing: border-box;
}

@media (min-width: 769px) {

    nav.navbar {
        height: 80px;
    }

    div#navbar-cont-big {
        padding: 18px;
        margin-left: 18px;
        font-size: 32px;
    }

    div#navbar-cont-small {
        display: none;
    }

}

@media (max-width: 768px) and (min-width: 481px) {
    div#navbar-cont-big {
        padding: 9px;
        margin-left: 9px;
        font-size: 21px;
    }

    div#navbar-cont-small {
        display: none;
    }

}

@media (max-width: 480px) {

    nav.navbar {
        width: 480px;
    }

    div#navbar-cont-big {
        display: none;
    }

    div#navbar-cont-small {
        display: table-cell;
        padding: 1px;
        margin-left: 5px;
        font-size: 6.5vw;
        vertical-align: middle;
        height: 9vh;
        min-height: 25px !important;
    }

}
