
hr {
    height: 1px;
    background-color: #888888;
    border: none;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 0px;
    width: 80%;
}

#dropdown-text {
    text-align: left;
    width: 80%;
}

p.pending-message {
    margin-top: 20px;
}


select.custom-select {
    margin-right: 10px;
}

