/* Service messages */

p.service-message {
    margin-top: 20px;
}

/* Output table */

table#output-payout {
    margin-top: 20px;
    width: 200px;
}

/* Table column */

p.col {
    padding: 1%
}

/* Windmill icon */
img {
    display: block;
    margin: 15px;
}
